body{font-family:"Courier New","Courier",monospace;font-size:small;margin:0;padding:0;background-color:#ffffff;}

.headerholder{background-color:#ffffff;border-bottom:solid 0px #000000;border-left:solid 0px #000000;border-right:solid 0px #000000;}
.header{width:100%;margin:0px auto;padding-top:20px;padding-bottom:8px;padding-left:8px;}

#divbodyholder{padding:0px;background-color:#ffffff;width:100%;max-width:75%;margin:24px auto;}
#divbody{border-top:solid 1px #000000;border-bottom:1px solid #000000;}

.content{margin-bottom:5%;}
.nomargin{margin:0;}
      
.clear{clear:both;}

#navi{padding-bottom:5px;}
#footer{padding-top:5px;margin:0px auto;font-size:small;font-family:"Courier New","Courier",monospace;}

a.navi{text-decoration:none;color:#000000 !important;}
a.navi:hover {text-decoration: underline black;}
a{text-decoration:underline;color:#000000 !important;}
a:hover {text-decoration: none black;}
a:visited{text-decoration:none;color:#000000 !important;}
