<!-- Header -->
{{ partial "header.html" . }}

<!-- Content -->
<div id="divbody">
	<h1>{{ .Title }}</h1>
<!-- Loop through all posts -->
{{ $paginator := .Paginate (where .Data.Pages "Type" "article") }}

{{ range .Pages }}
        <h2>{{ .Title }}</h2>
	 <p>
	 <small>{{ .Date.Format "02.01.2006" }}</small>
         </p>
{{ .Summary }}
          <p>
          <a class="readmore" href="{{ .RelPermalink }}">Weiterlesen</a>
        </p>
{{ end }}
<!-- End loop -->
</div>

<!-- Footer -->
{{ partial "footer.html" . }}
