<!doctype html>
<html>
	<head>
		<title> {{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} {{ end }} </title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
        {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }}
	</head>
<body>
	<div id="divbodyholder">
		<div class="headerholder">
			<div id="header">
            <h1 class="nomargin">{{ .Site.Title }}</h1>
			</div>
		</div> 
	
		<div id="navi">
			<br>
			{{ range .Site.Menus.main.ByWeight -}}
			{{ .Pre }}<a class="navi" href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a> {{ .Post }}
			{{- end }}
		</div>
