<!-- Header -->
{{ partial "header.html" . }}

<!-- Content -->
<div id="divbody">
	<h1>{{ .Title }}</h1>
	{{ .Content }}
  
<!-- Loop through all posts -->

{{ range (.Paginator 3).Pages }}
    {{ $paginator := .Paginate (where .Pages "type" "article") 3}}
    
	 <p><small>{{ .Date.Format "02.01.2006" }} |  <a class="readmore" href="{{ .RelPermalink }}">{{ .Title }}</a></small></p>
          
{{ end }}
<!-- End loop -->
</div>
<!-- Footer -->
{{ partial "footer.html" . }}
